# Local Terraform state
terraform.tfstate*

# temp Terraform
.terraform/

# configs, secrets
*.tfvars
*.tfvars.json

# genered
*.tfplan

# Terraform lock files
*.tflock
.terraform.tfstate.lock*
.terraform.lock*

# IDE
.vscode/
.idea/

# logs
*.log
*.txt

# MacOS sys files
.DS_Store