aws_region            = "eu-central-1"
rds_instance_identifier = "test-rds-instance"
rds_username          = "admin"
rds_password          = "StrongPassword123!"
rds_db_name           = "testdb"
ec2_ami_id            = "ami-02b7d5b1e55a7b5f1"
ec2_instance_type     = "t2.micro"
ec2_key_pair          = "webserver-key-Frankfurt"
allowed_ssh_cidr      = "0.0.0.0/0"